.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
  @media (max-width: 768px) {
    padding: 10px;
  }
}

.switch-holder {
  margin-bottom: 1rem;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  align-items: center;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
}

.switch-label {
  display: flex;
  align-items: center;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow:
    inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;
  background-color: #00b33c;
  box-shadow:
    -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px #00b33c;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}


.capture-camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.mirrored {
  max-width: 100%;
}
  

.capture-button,
.send-button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #0056b3;
  }
}

.gallery-container {
  width: 100%;
}

.gallery h3 {
  background-color: #333;
  color: #fff;
  text-align: center;
}

img {
  margin-top: 20px;
  max-width: 100%;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.thumbnail-container {
  position: relative;
  display: inline-block;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  font-size: 20px;
  color: white;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
}

//button remove

/* From Uiverse.io by hannahyockel */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.3em;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 1.25em;
  transition: all 0.2s linear;
}

mat-icon:hover {
  color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
