
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-color: #f5f5f5;
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.message-container {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.success-message {
  color: green;
}

.error-message {
  color: #ff3232;
}

.capture-camera-container {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: 600px) {
    margin: 1rem;

  }
}

.form-content-processedCuts {
  @media (max-width: 600px) {
    margin: 0.6rem;
    max-width: 95%;
  }
}

::ng-deep video {
  max-width: 100%;
  height: auto !important;
  border-radius: 20px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
}

.camera-action-button{
  display: flex;
  justify-content: center;
}

.camera-action-button button{
  margin: 0rem 0.5rem 1rem 0;
}

.send-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.capture-button,
.send-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #333;
  }
}

.gallery-container {
  margin: 1rem;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.webcam {
  background-color: inherit;
  -webkit-box-shadow: 0 4px 35px rgba(0,0,0,.1);
  box-shadow: 0 4px 35px rgba(0,0,0,.1);
  border-radius: 40px;
}

.gallery {
  display: flex;
  margin: 1rem;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.gallery h3 {
  background-color: #333;
  color: #fff;
  text-align: center;
}

img {
  margin-top: 20px;
  max-width: 100%;
}

.thumbnails {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;  margin: 1rem;

  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.thumbnail-container {
  position: relative;
  display: inline-block;
}

.images-container {
  display: flex;
  justify-content: center;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  font-size: 20px;
  color: white;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-modal img {
  max-width: 90%;
  max-height: 90%;
}

//button remove

/* From Uiverse.io by hannahyockel */
button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.3em;
  border: 0px solid transparent;
  background-color: transparent;
  border-radius: 1.25em;
  transition: all 0.2s linear;
}

mat-icon:hover {
  color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


//Radio Buttons

.evaluation-container {
  --col-gray: #3f3f3f;
  --col-white: #fff;
  --col-like: #2196f3;
  --col-dislike: #ff3232;
  --transition: 350ms;
  background-color: var(--col-gray);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-bottom: 1rem;
}
.evaluation-container:has(.like:checked) .count {
  border-left-color: var(--col-like);
  border-right-color: transparent;
}
.evaluation-container label input {
  display: none;
}
.evaluation-container .like:checked + svg {
  animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-like);
}
.evaluation-container .dislike:checked + svg {
  animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-dislike);
}
.evaluation-container .icon {
  cursor: pointer;
  fill: var(--col-white);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluation-container .icon.like {
  margin-left: 9px;
}
.evaluation-container .icon.dislike {
  margin-right: 9px;
}
.evaluation-container .count {
  transition: var(--transition);
  flex: 1;
  border-left: 1px solid var(--col-white);
  border-right: 1px solid var(--col-white);
  position: relative;
  height: 24px;
  overflow: hidden;
  margin: auto;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 0.5px;
  flex-direction: row;
}
.evaluation-container .count .number {
  display: flex;
  flex-direction: column;
  transform: translateY(calc(50% - 8px));
  transition: 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.evaluation-container .count .number:first-child {
  transition-delay: 200ms;
}
.evaluation-container .count .number:nth-child(2) {
  transition-delay: 150ms;
}
.evaluation-container .count .number:last-child {
  transition-delay: 50ms;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

/* From Uiverse.io by Cebucoder */ 
.loader {
  width: 350px;
  height: 180px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  box-shadow: 2px 2px 10px -5px rgb(0, 0, 0);
}
.loading {
  width: 100%;
  height: 10px;
  background: lightgrey;
  border-radius: 10px;
  position: relative;
}
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 10px;
  background: #333;
  border-radius: 10px;
  z-index: 1;
  animation: loading 0.6s alternate infinite;
}
label {
  color: #333;
  font-size: 18px;
  animation: bit 0.6s alternate infinite;
}

@keyframes bit {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    left: 25%;
  }
  100% {
    left: 50%;
  }
  0% {
    left: 0%;
  }
}


/* From Uiverse.io by TISEPSE */ 
.btn2 {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: #333;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #333;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.btn2:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.btn2:hover::after {
  transform: scaleX(0);
  transition-delay: 0.15s;
}

.btn2:hover {
  border: 2px solid #333;
  color: #333;
}

.btn2 span {
  position: relative;
  z-index: 3;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}


.form-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 2rem; 
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 12px; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto; 

  @media (min-width: 768px) {
    flex-direction: row; 
    padding: 3rem;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
